<div>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redes sociales</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
  <h1>About</h1>
  <article>
    <p>
      ¡Hola! Soy Yair, un apasionado desarrollador fullstack con una fascinación por el
      mundo del café y la tecnología.
    </p>
    <p>
      Con una sólida experiencia en desarrollo fullstack, estoy capacitado para abordar
      proyectos desde el front-end hasta el back-end, brindando soluciones innovadoras y
      eficientes. Mi pasión por la programación se combina con mi amor por el café y los
      videojuegos, creando un equilibrio perfecto entre trabajo y diversión en mi vida
      diaria.
    </p>
    <div style="display: inline-block;">
      <p style="display: inline;">Find me on</p>
      <a href="https://www.linkedin.com/in/yair-flores-2b0317237/" style="display: inline;"><i class="fab fa-linkedin"></i></a>
      <a href="https://www.instagram.com/yayolin__/" style="display: inline;"><i class="fab fa-instagram"></i></a>
      <a href="https://github.com/Drekon-hub" style="display: inline;"><i class="fab fa-github"></i></a>
    </div>
  </article>
</div>


<style>
  a{
    text-decoration: none;
    color: rgb(150, 150, 150);
  }
</style>