---

---

<header>
  <div>
    <a href="" class="name">
      <h2>Yair Flores</h2>
    </a>
    <nav>
      <a href="/">Home</a>
      <span style="display: inline; border-right: 1px dashed;">&nbsp;&nbsp;</span>
      <a href="/about">About</a>
      <span style="display: inline; border-right: 1px dashed;">&nbsp;&nbsp;</span>
      <a href="#">Contact</a>
    </nav>
  </div>
</header>

<style>
  .name {
    color: white;
    text-decoration: none;
  }
  nav {
    margin-top: 10px; /* Agrega margen superior de 20px */
  }
  a {
    color: #97b770;
    text-decoration: none;
    padding-left: 10px;
  }
  div {
    display: flex;
    flex-direction: column; /* Cambia la dirección del flexbox a columna */
    /* align-items: center; */
    background-size: cover;
    /* background-color: red; */
  }
</style>
