---

---

<h1>Contact</h1>
<form name="contact" method="POST" data-netlify="true">
  <input type="text" name="name" />
  <br />

  <input type="email" name="email" />
  <br />
  <p>
    <label
      >Your Role: <select name="role[]" multiple>
        <option value="leader">Leader</option>
        <option value="follower">Follower</option>
      </select></label
    >
  </p>
  <br />
  <textarea name="message"></textarea>

  <p>
    <button type="submit">Send</button>
  </p>
</form>
